asgiref
attrs
autopep8
Brotli
CacheControl
certifi
charset-normalizer
cleo
contourpy
crashtest
cycler
# Cython (removido)
dbbackup-tools
distlib
Django
django-autocomplete-light
django-cors-headers
django-dbbackup
djongo
dnspython
dulwich
et-xmlfile
filelock
fonttools
gunicorn
html5lib
idna
importlib-metadata
jaraco.classes
jsonschema
keyring
kiwisolver
lockfile
matplotlib
more-itertools
msgpack
numpy
openpyxl
packaging
pandas
pexpect
Pillow
pkginfo
platformdirs
poetry
poetry-core
poetry-plugin-export
ptyprocess
pycodestyle
pymongo
pyparsing
pyrsistent
python-dateutil
python-decouple
pytz
pywin32-ctypes
PyYAML
rapidfuzz
reportlab
requests
requests-toolbelt
shellingham
six
sqlparse
tomli
tomlkit
trove-classifiers
tzdata
urllib3
virtualenv
webencodings
whitenoise
XlsxWriter
zipp