{% extends "main.html" %}
{% load static %}

{% block 'head' %}
<link rel="stylesheet" href="{% static 'css/main.css' %}" />
<link rel="stylesheet" href="{% static 'clients/css/clients.css' %}" />
{% endblock %}

{% block 'main' %}
<div class="row">
  <div id="cad_cli_tit">
    <a>Criar / restaurar cópia de segurança</a>
  </div>

  {% if messages %}
  <br />
  {% for message in messages %}
  <div class="alert {{message.tags}}">{{message}}</div>
  {% endfor %} {% endif %}

  <div class="col-sm-1">
    <form method="post" action="{% url 'backup_download' %}">
      {% csrf_token %}
      <a href="{% url 'backup_download' %}" class="btn btn-success">Download Backup</a>
    </form>
    <br/>
  </div>
  <div class="col-sm-1">
    <form method="post" action="{% url 'restore_backup' %}">
      {% csrf_token %}
      <a href="{% url 'restore_backup' %}" class="btn btn-success">Restaurar Backup</a>
    </form>
    <br/>
  </div>
  <div class="col-sm-1">
    <form method="post" action="{% url 'backup_download' %}">
      {% csrf_token %}
      <a href="{% url 'export_to_excel' %}" class="btn btn-success">Exportar para excel</a>
    </form>
    <br/>
  </div>
  <div class="col-sm-1">
    <form method="post" action="{% url 'backup_sqlite' %}">
      {% csrf_token %}
      <a href="{% url 'backup_sqlite' %}" class="btn btn-success">Banco de dados</a>
    </form>
    <br/>
  </div>

  <div class="col-sm-12 bk_border">
    <form method="post" enctype="multipart/form-data" action="{% url 'restore' %}">
      {% csrf_token %}
      <div class="form-group">
        <label for="backup_file">Selecione o arquivo de backup:</label>
        <input type="file" class="form-control" id="backup_file" name="backup_file" required>
      </div>
      <div class="form-group">
        <label for="confirm_restore">Confirme a restauração digitando "CONFIRMAR":</label>
        <input type="text" class="form-control" id="confirm_restore" name="confirm_restore" required>
      </div>
      <br/>
      <button type="submit" class="btn btn-primary">Restaurar Backup</button>
    </form>
  </div>
  
</div>

<script src="{% static 'clients/js/script.js'%}"></script>
{% endblock%}