{% extends "main.html" %} {% load static %} {% block 'head' %}
<link rel="stylesheet" href="{% static 'css/main.css' %}" />
<link rel="stylesheet" href="{% static 'clients/css/clients.css' %}" />
{% endblock %} {% block 'main' %}
<div class="row">
  <div id="cad_cli_tit">
    <a>Cadastro de Serviços</a>
  </div>

  {% if messages %}
  <br />
  {% for message in messages %}
  <div class="alert {{message.tags}}">{{message}}</div>
  {% endfor %} {% endif %}

  <div class="actions_bar">
    <a href="{% url 'new_services' %}" id="btn_nc" type="button" class="btn btn-success">
      Cadastrar novo serviço
    </a>
    <a href="{% url 'services_xlr' %}" id="btn_ac" type="button" class="btn btn-primary">
      Exportar lista de serviços
    </a>
  </div>
  <div class="col-md-12 mb-3">
    <div class="card">
      <div class="card-header">
        <span><i class="bi bi-table me-2"></i></span> Serviços
      </div>
      <div class="card-body">
        <div id="table_cli" class="table-responsive">
          <table
            id="example"
            class="table table-striped data-table"
            style="width: 100%"
          >
            <thead>
              <tr>
                <th>Cod.</th>
                <th>Tipo</th>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Valor</th>
                <th>Data de cadastro</th>
                <th id="acoes_th">Ações</th>
              </tr>
            </thead>
            <tbody>
              {% for services in serv %}
              <tr>
                <td>{{ services.cod }}</td>
                <td>{{ services.tipo }}</td>
                <td>{{ services.nome }}</td>
                <td>{{ services.descr }}</td>
                <td>{{ services.valor }}</td>
                <td>{{ services.data_cadastro }}</td>
                <th>
                  <a href="{% url 'edit_services' services.cod %}" id="btn_ap" type="button" class="btn btn-success">
                    <i class="bi bi-pen"></i>
                  </a>
                  <a href="{% url 'del_services' services.cod %}" id="btn_ap" type="button" class="btn btn-danger delete">
                    <i class="bi bi-trash"></i>
                </th>
              </tr>
              {% endfor %}
            </tbody>
            <tfoot></tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="{% static 'clients/js/script.js'%}"></script>
{% endblock%}
