{% extends "main.html" %} {% load static %} {% block 'head' %}
<link rel="stylesheet" href="{% static 'css/main.css' %}" />
<link rel="stylesheet" href="{% static 'finance/css/finance.css' %}" />
{% endblock %} {% block 'main' %}
<div class="row all">
  <div id="cad_cli_tit">
    <a>Dashboard Financeiro</a>
  </div>

  {% if messages %}
  <br />
  {% for message in messages %}
  <div class="alert {{message.tags}}">{{message}}</div>
  {% endfor %} {% endif %}

  <div class="col-md-3 mb-3">
    <a href="{% url 'finance_dia' %}">
      <div class="card bg-primary text-white">
        <h5 class="fin-card-header">
          <i class="cards_fin">Diario</i>
          <div class="items">
            <i class="cards_fin">Entradas</i>
            <h5 class="fin-subt2">R$ {{entrada_dia}}</h5>
          </div>
          <div class="items">
            <i class="cards_fin">Saídas</i>
            <h5 class="fin-subt2">R$ {{saida_dia}}</h5>
          </div>
          <div class="items">
            <i class="cards_fin">Total</i>
            <h4 class="fin-subt2">R$ {{total_dia}}</h4>
          </div>
        </h5>
      </div>
    </a>
  </div>
  <div class="col-md-3 mb-3">
    <a href="{% url 'finance_sem' %}">
      <div class="card bg-primary text-white">
        <h5 class="fin-card-header">
          <i class="cards_fin">Semanal</i>
          <div class="items">
            <i class="cards_fin">Entradas</i>
            <h5 class="fin-subt2">R$ {{entrada_sem}}</h5>
          </div>
          <div class="items">
            <i class="cards_fin">Saídas</i>
            <h5 class="fin-subt2">R$ {{saida_sem}}</h5>
          </div>
          <div class="items">
            <i class="cards_fin">Total</i>
            <h4 class="fin-subt2">R$ {{total_sem}}</h4>
          </div>
        </h5>
      </div>
    </a>
  </div>
  <div class="col-md-3 mb-3">
    <a href="{% url 'finance_mes' %}">
      <div class="card bg-primary text-white">
        <h5 class="fin-card-header">
          <i class="cards_fin">Mensal</i>
          <div class="items">
            <i class="cards_fin">Entradas</i>
            <h5 class="fin-subt2">R$ {{entrada_mes}}</h5>
          </div>
          <div class="items">
            <i class="cards_fin">Saídas</i>
            <h5 class="fin-subt2">R$ {{saida_mes}}</h5>
          </div>
          <div class="items">
            <i class="cards_fin">Total</i>
            <h4 class="fin-subt2">R$ {{total_mes}}</h4>
          </div>
        </h5>
      </div>
    </a>
  </div>
  <div class="col-md-3 mb-3">
    <a href="{% url 'finance_ano' %}">
      <div class="card bg-primary text-white">
        <h5 class="fin-card-header">
          <i class="cards_fin">Anual</i>
          <div class="items">
            <i class="cards_fin">Entradas</i>
            <h5 class="fin-subt2">R$ {{entrada_ano}}</h5>
          </div>
          <div class="items">
            <i class="cards_fin">Saídas</i>
            <h5 class="fin-subt2">R$ {{saida_ano}}</h5>
          </div>
          <div class="items">
            <i class="cards_fin">Total</i>
            <h4 class="fin-subt2">R$ {{total_ano}}</h4>
          </div>
        </h5>
      </div>
    </a>
  </div>
  <div class="actions_bar row">
    <div class="col-md-6 px-3">
      <div class="row">
        <div class="col-md-12 p-1">
          <a href="{% url 'new_finance' %}" class="btn btn-success btn-block">Entrada avulsa no caixa</a>
        </div>
        <div class="col-md-12 p-1">
          <a href="{% url 'new_finance_out' %}" class="btn btn-danger btn-block">Saída avulsa no caixa</a>
        </div>
        <div class="col-md-12 p-1">
          <a href="{% url 'finance_xlrx' id=1 %}" class="btn btn-primary btn-block">Exportar movimentação</a>
        </div>
      </div>
    </div>
    <div class="col-md-3 px-3 lanc">
        <div class="card border-primary p-1 ">
          <h5 class="fin-card-header text-center">
            <i class="cards_fin">Lançar depósito</i>
            <form class="row g-6" action="{% url 'finance' %}" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="items mb-3 w-100">
                <input type="number" name="deposits" min="1" class="cards_fin p-0 form-control">
              </div>
              <div class="items mt-3 w-100">
                <button type="submit" class="btn btn-primary btn-block">lançar deposito</button>
              </div>
            </form>
          </h5>
        </div>
    </div>
    
    <div class="col-md-3 px-3 caixa">
      <a href="{% url 'deposit_list' %}">
        <div class="card border-primary p-1">
          <h4 class="fin-card-header p-2">
            <i class="cards_fin">Caixa</i>
            <div class="items p-1">
              <i class="cards_fin">Gaveta</i>
              <h5 class="fin-subt2">R$ {{gaveta}}</h5>
            </div>
            <div class="items p-1">
              <i class="cards_fin">Depositos hj</i>
              <h5 class="fin-subt2" nema="total_deposits" value="{{total_deposits}}"> {{caixas_do_dia}}</h5>
            </div>
            <div class="items">
            </div>
          </h5>
        </div>
      </a>
      </div>


  </div>
  
    <div class="col-md-12 mb-3">
      <div class="card">
        <div class="card-header">
          <span><i class="bi bi-table me-2"></i></span> Ultimos lançamentos de
          hoje
        </div>
        <div class="card-body">
          <div id="table_cli" class="table-responsive">
            <table
              id="example"
              class="table table-striped data-table"
              style="width: 100%"
            >
              <thead>
                <tr>
                  <th>Cod.</th>
                  <th>Obs</th>
                  <th>Nome</th>
                  <th>Valor</th>
                  <th>Data</th>
                  <th>movimento</th>
                  <th>Categoria</th>
                  <th>Tipo Pgto</th>
                  <th id="acoes_th">Ações</th>
                </tr>
              </thead>
              <tbody>
                {% for finances in finance %}
                <tr id="fin_table">
                  <th>
                    <a href="{% url 'edit_finance' finances.id %}"
                      >{{ finances.id }}</a
                    >
                  </th>
                  <th>
                    <a href="{% url 'edit_finance' finances.id %}"
                      >{{ finances.obs }}</a
                    >
                  </th>
                  <th>
                    <a href="{% url 'edit_finance' finances.id %}"
                      >{{ finances.nome }}</a
                    >
                  </th>
                  <th>
                    <a href="{% url 'edit_finance' finances.id %}"
                      >{{ finances.valor }}</a
                    >
                  </th>
                  <th>
                    <a href="{% url 'edit_finance' finances.id %}"
                      >{{ finances.data }}</a
                    >
                  </th>
                  <th>
                    <a href="{% url 'edit_finance' finances.id %}"
                      >{{ finances.movimento }}</a
                    >
                  </th>
                  <th>
                    <a href="{% url 'edit_finance' finances.id %}"
                      >{{ finances.categoria }}</a
                    >
                  </th>
                  <th>
                    <a href="{% url 'edit_finance' finances.id %}"
                      >{{ finances.tipo_pgto }}</a
                    >
                  </th>
                  <th>
                    <a
                      id="btn_ed"
                      href="{% url 'edit_finance' finances.id %}"
                      type="button"
                      class="btn btn-success"
                    >
                      <i class="bi bi-pen"></i>
                    </a>
                    <a
                      href="{% url 'del_finance' finances.id %}"
                      id="btn_ap"
                      type="button"
                      class="btn btn-danger delete"
                    >
                      <i class="bi bi-trash"></i>
                    </a>
                  </th>
                </tr>
                {% endfor %}
              </tbody>
              <tfoot></tfoot>
            </table>
          </div>
        </div>
      </div>
      <div class="col-md-12 mb-3 grfc">
        {% block content %}
        <div class="container">
          <div class="row">
            <div class="col-md-6 gfc">
              <canvas id="myChart"></canvas>
              <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="chartValuesTable">
                            <thead>
                                <tr>
                                    <th>Dia</th>
                                    <th>Entrada</th>
                                    <th>Saída</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-6">
                </div>
            </div>
            
            </div>
            <div class="col-md-6 gfc">
              <canvas id="yearChart"></canvas>
              <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                      <table class="table table-bordered" id="yearChartValuesTable">
                            <thead>
                                <tr>
                                    <th>Mes</th>
                                    <th>Entrada</th>
                                    <th>Saída</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
          </div>
          {% comment %} GRAFICOS PIZZA {% endcomment %}
          <div class="container">
            <div class="row">
              <div class="col-md-6 gfc">
                <canvas id="pieChartMesIn"></canvas>
                <div class="row">
                  <div class="col-md-12">
                      <div class="table-responsive">
                        <div id="tableContainerMesIn"></div>
                      </div>
                  </div>
                  <div class="col-md-6">
                  </div>
              </div>
              
              </div>
              <div class="col-md-6 gfc">
                <canvas id="pieChartMesOut"></canvas>  
                <div class="row">
                  <div class="col-md-12">
                      <div class="table-responsive">
                        <div id="tableContainerMesOut"></div>
                      </div>
                  </div>
              </div>
            </div>
        </div>

        <div class="container">
          <div class="row">
            <div class="col-md-6 gfc">
              <canvas id="pieChartAnoIn"></canvas>
              <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                      <div id="tableContainerAnoIn"></div>
                    </div>
                </div>
                <div class="col-md-6">
                </div>
            </div>
            
            </div>
            <div class="col-md-6 gfc">
              <canvas id="pieChartAnoOut"></canvas>
              <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                      <div id="tableContainerAnoOut"></div>
                    </div>
                </div>
            </div>
          </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
      </div>

      {% comment %} {% block content3 %}
      <div class="row graph_pie_block">
        <div class="col-md-6">
          <img
            src="data:image/png;base64,{{ pie_mes_in }}"
            alt="Gráfico de pizza"
            class="img-fluid pie_graph"
          />
        </div>
        <div class="col-md-6">
          <img
            src="data:image/png;base64,{{ pie_ano_in }}"
            alt="Gráfico de pizza"
            class="img-fluid pie_graph"
          />
        </div>
        <div class="col-md-6">
          <img
            src="data:image/png;base64,{{ pie_mes_out }}"
            alt="Gráfico de pizza"
            class="img-fluid pie_graph"
          />
        </div>
        <div class="col-md-6">
          <img
            src="data:image/png;base64,{{ pie_ano_out }}"
            alt="Gráfico de pizza"
            class="img-fluid pie_graph"
          />
        </div>
      </div>
      {% endblock %} {% endcomment %}
      {% comment %} GRAFICO BARRAS DIARIO MYCHART {% endcomment %}
      <script>
        var ctx = document.getElementById('myChart').getContext('2d');
        var dates = JSON.parse('{{ dates_json|safe }}');
        var entradas = JSON.parse('{{ entradas_json|safe }}');
        var saidas = JSON.parse('{{ saidas_json|safe }}');
        var myChart = new Chart(ctx, {
          type: 'bar',
          data: {
            labels: dates.map((date) => date.day),
            datasets: [
              {
                label: 'Entradas',
                data: entradas.map((entrada) => entrada.value),
                backgroundColor: 'green',
              },
              {
                label: 'Saídas',
                data: saidas.map((saida) => saida.value),
                backgroundColor: 'red',
              },
            ],
          },
          options: {
            title: {
              display: true,
              text: 'Fluxo de caixa - Diário',
            },
            scales: {
              yAxes: [
                {
                  ticks: {
                    beginAtZero: true,
                  },
                },
              ],
              xAxes: [
                {
                  type: 'category',
                  labels: dates.map((date) => date.day),
                  ticks: {
                    autoSkip: false,
                  },
                },
              ],
            },
          },
        });
        var chartValuesTableBody = document.querySelector('#chartValuesTable tbody');
        var chartValuesTableBody = document.querySelector('#chartValuesTable tbody');

          function formatCurrency(value) {
            return new Intl.NumberFormat('pt-BR', { style: 'currency', currency: 'BRL' }).format(value);
          }
      

        dates.forEach((date, index) => {
            var tableRow = chartValuesTableBody.insertRow();
            
            // Coluna de Data
            var dateCell = tableRow.insertCell(0);
            dateCell.textContent = date.day;

            // Coluna de Entrada
            var entradaCell = tableRow.insertCell(1);
            entradaCell.textContent = formatCurrency(entradas[index].value);

            // Coluna de Saída
            var saidaCell = tableRow.insertCell(2);
            saidaCell.textContent = formatCurrency(saidas[index].value);

            // Coluna de Total
            var totalCell = tableRow.insertCell(3);
            var totalValue = entradas[index].value - saidas[index].value;
            totalCell.textContent = formatCurrency(totalValue);
        });
      </script>

      {% endblock %} {% block content2 %} {% endblock %} {% block scripts2 %}

      {% comment %} GRAFICO BARRAS MENSAL YEARCHART {% endcomment %}
      <script>
        var ctx = document.getElementById('yearChart').getContext('2d');

        var months = [{% for month in months %} "{{ month.month }}"{% if not forloop.last %}, {% endif %}{% endfor %}];
        var in_mes = [{% for entrada in in_mes %}parseFloat('{{ entrada }}'){% if not forloop.last %}, {% endif %}{% endfor %}];
        var out_mes = [{% for saida in out_mes %}parseFloat('{{ saida }}'){% if not forloop.last %}, {% endif %}{% endfor %}];

        in_mes = in_mes.map(Number);
        out_mes = out_mes.map(Number);

        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: months,
                datasets: [{
                    label: 'Entradas',
                    data: in_mes,
                    backgroundColor: 'green',
                }, {
                    label: 'Saídas',
                    data: out_mes,
                    backgroundColor: 'red',
                }]
            },
            options: {
                title: {
                    display: true,
                    text: 'Fluxo de Caixa - Mensal'
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });

        var yearChartValuesTableBody = document.querySelector('#yearChartValuesTable tbody');

      months.forEach((month, index) => {
          var tableRow = yearChartValuesTableBody.insertRow();

          // Coluna de Mês
          var monthCell = tableRow.insertCell(0);
          monthCell.textContent = month;

          // Coluna de Entrada
          var entradaCell = tableRow.insertCell(1);
          entradaCell.textContent = formatCurrency(in_mes[index]);

          // Coluna de Saída
          var saidaCell = tableRow.insertCell(2);
          saidaCell.textContent = formatCurrency(out_mes[index]);

          // Coluna de Total (entrada - saída)
          var totalCell = tableRow.insertCell(3);
          var totalValue = in_mes[index] - out_mes[index];
          totalCell.textContent = formatCurrency(totalValue);
      });
            
      </script>

    <script>
      function createPieChartAndTable(chartId, tableContainerId, chartData, maxCategoriesToShow, chartTitle) {
          var ctx = document.getElementById(chartId).getContext('2d');
  
          // Função para gerar uma paleta de cores com base em uma cor inicial
          function generateColors(baseColor, count) {
              var colors = [];
              for (var i = 0; i < count; i++) {
                  var newColor = Chart.helpers.color(baseColor).lighten(i / count).rgbString();
                  colors.push(newColor);
              }
              return colors;
          }
  
          // Limita o número de categorias exibidas diretamente
          var displayedCategories = chartData.categories.slice(0, maxCategoriesToShow);
          var remainingCategories = chartData.categories.slice(maxCategoriesToShow);
  
          // Agrupa categorias restantes em "Outros"
          var sumOfRemainingValues = chartData.values.slice(maxCategoriesToShow).reduce((a, b) => a + b, 0);
          displayedCategories.push('Outros');
          var displayedValues = chartData.values.slice(0, maxCategoriesToShow);
          displayedValues.push(sumOfRemainingValues);
  
          // Gera automaticamente cores de fundo
          var backgroundColors = generateColors('rgba(75, 192, 192, 0.7)', displayedCategories.length);
  
          var myPieChart = new Chart(ctx, {
              type: 'pie',
              data: {
                  labels: displayedCategories,
                  datasets: [{
                      data: displayedValues,
                      backgroundColor: backgroundColors,
                  }]
              },
              options: {
                  title: {
                      display: true,
                      text: chartTitle,  // Adiciona o título do gráfico
                  },
                  legend: {
                      display: false,  // Remover as etiquetas
                  },
                  tooltips: {
                      callbacks: {
                          label: function (tooltipItem, data) {
                              var dataset = data.datasets[tooltipItem.datasetIndex];
                              var label = data.labels[tooltipItem.index];
                              var value = dataset.data[tooltipItem.index];
                              var total = dataset.data.reduce((a, b) => a + b, 0);
                              var percentage = ((value / total) * 100).toFixed(2) + '%';
                              return label + ': ' + percentage;
                          }
                      }
                  }
              }
          });
  
          // Criação da tabela dinâmica
          var tableContainer = document.getElementById(tableContainerId);
          var tableHTML = '<table class="table"><thead><tr><th>Categoria</th><th>Valor</th><th>Porcentagem</th></tr></thead><tbody>';
  
          for (var i = 0; i < displayedCategories.length; i++) {
              tableHTML += '<tr>';
              tableHTML += '<td>' + displayedCategories[i] + '</td>';
              tableHTML += '<td>' + formatCurrency(displayedValues[i]) + '</td>';
              tableHTML += '<td>' + ((displayedValues[i] / displayedValues.reduce((a, b) => a + b, 0)) * 100).toFixed(2) + '%</td>';
              tableHTML += '</tr>';
          }
  
          tableHTML += '</tbody></table>';
  
          // Adiciona a tabela ao container
          tableContainer.innerHTML = tableHTML;
      }
  
      // Função para formatar valores como moeda brasileira
      function formatCurrency(value) {
          return new Intl.NumberFormat('pt-BR', { style: 'currency', currency: 'BRL' }).format(value);
      }
  
      // Defina o número máximo de categorias a serem exibidas diretamente
      var maxCategoriesToShow = 20;
  
      // Chamadas para criar os gráficos e tabelas
      createPieChartAndTable('pieChartMesIn', 'tableContainerMesIn', {{ pie_chart_mes_in|safe }}, maxCategoriesToShow, 'Entradas do Mês');
      createPieChartAndTable('pieChartMesOut', 'tableContainerMesOut', {{ pie_chart_mes_out|safe }}, maxCategoriesToShow, 'Saídas do Mês');
      createPieChartAndTable('pieChartAnoIn', 'tableContainerAnoIn', {{ pie_chart_data_ano|safe }}, maxCategoriesToShow, 'Entradas do Ano');
      createPieChartAndTable('pieChartAnoOut', 'tableContainerAnoOut', {{ pie_chart_data_ano_out|safe }}, maxCategoriesToShow, 'Saídas do Ano');
  </script>
  
  
  
  
    

          {% endblock %}
        </div>
      </div>
    <script src="{% static 'clients/js/script.js'%}"></script>
  {% endblock%}
</div>