{% extends "main.html" %} {% load static %} {% block 'head' %}
<link rel="stylesheet" href="{% static 'css/main.css' %}" />
<link rel="stylesheet" href="{% static 'work_order/css/work_order.css' %}" />
{% endblock %} {% block 'main' %}
<div id="main" class="main">
  <div class="row">
    <div id="cad_cli_tit">
      <a>Ordem de serviço</a>
    </div>

    {% if messages %}
    <br />
    {% for message in messages %}
    <div class="alert {{message.tags}}">{{message}}</div>
    {% endfor %} {% endif %}

    <div class="actions_bar">
      <a href="{% url 'new_work_order' %}" id="btn_nc" type="button" class="btn btn-success">
        Cadastrar nova Ordem de serviço
      </a> 
      <a href="{% url 'wo_xlr' %}"id="btn_ac" type="button" class="btn btn-primary">
        Exportar lista de ordens de serviço
      </a>
    </div>
    <div class="col-md-12 mb-3">
      <div class="card">
        <div class="card-header">
          <span><i class="bi bi-table me-2"></i></span> Ordem de serviço
        </div>
        <div class="card-body">
          <div id="table_cli" class="table-responsive">
            <table
              id="example"
              class="table table-striped data-table"
              style="width: 100%"
            >
              <thead>
                <tr>
                  <th>OS </th>
                  <th>Cliente</th>
                  <th>Produto</th>
                  <th>Entrada</th>
                  <th>Saída</th>
                  <th>Valor</th>
                  <th>Pago</th>
                  <th>pgto</th>
                  <th>Status</th>
                  <th id="acoes_th">Ações</th>
                </tr>
              </thead>
              <tbody>
                {% for orders in workorders %}
                <tr id="wo_table">
                  <td>{{ orders.id }}</td>
                  <td><a  href="{% url 'edit_work_order' orders.id %}">{{ orders.cod_cli }}</a></td>
                  <td><a href="{% url 'edit_work_order' orders.id %}">{{ orders.cod_prod }}</a></td>
                  <td><a href="{% url 'edit_work_order' orders.id %}">{{ orders.data_entrada }}</a></td>
                  <td><a href="{% url 'edit_work_order' orders.id %}">{{ orders.data_saida }}</a></td>
                  <td><a href="{% url 'edit_work_order' orders.id %}">{{ orders.total }}</a></td>
                  <td><a href="{% url 'edit_work_order' orders.id %}">{{ orders.status }}</a></td>
                  <td>
                    {% if orders.pgto_adiantado == True %}
                    <span id = "op1">pago</span>
                      {% elif orders.os_finalizada == False %}
                      <span id = "op2">a pagar</span>
                    {% endif %}
                    <td>
                    {% if orders.os_finalizada == True %}
                      <span id = "op3">fechada</span>
                    {% elif orders.os_finalizada == False %}
                      <span id = "op4">aberta</span>
                    {% endif %}
                  </td> 
                  </td>
                  <th>
                    <a href="{% url 'cupon' orders.id %}" id="btn_ap" type="button" class="btn btn-primary" target="_blank">
                      <i class="bi bi-file-break-fill"></i>
                    </a>
                    <a href="{% url 'print' orders.id %}" id="btn_ap" type="button" class="btn btn-primary" target="_blank">
                      <i class="bi bi-printer"></i>
                    </a>
                    <a href="{% url 'edit_work_order' orders.id %}" id="btn_ap" type="button" class="btn btn-success">
                      <i class="bi bi-pen"></i>
                    </a>
                  
                    <a href="{% url 'del_work_order' orders.id %}" id="btn_ap" type="button" class="btn btn-danger delete">
                      <i class="bi bi-trash"></i>
                    </a>
                  </a>
                  <a href="https://api.whatsapp.com/send?phone=55{{orders.whatsapp}}&text=Ol%C3%A1, {{orders.cad_cli}} tudo bem?" id="btn_wz" type="button" class="btn btn-success">
                    <i class="bi bi-whatsapp" target="_blank"></i>
                  </a>
                  </th>
                </tr>
                {% endfor %}
              </tbody>
              <tfoot></tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="{% static 'clients/js/script.js'%}"></script>
{% endblock%}
